/* shared style */

body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 1rem 2rem;
}

.section-tittle {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.section-des {
  color:  #757575;
  text-align: center;
  font-size: 18px;
}

/* nav related style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-tittle {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 3rem;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header style */

.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.banner .profile-pic {
  width: 500px;
}

.banner-gretting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-tittle {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* 
main section style */

main{
  max-width: 1140px;
  margin: 0 auto;
}

main section{
  margin-top: 130px;
}
/* 
about section style */

.about {
  padding: 130px;
  border-radius: 10px;
  background-color: #fff8f3;
  margin: 130px 0;
}

.about-info-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.about-info{
  text-align: center;
}

/* skills style */

.skills-container{
  display: flex;
  gap: 24px;
}

.skill{
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 50px 0px rgba(0,0,0, 0.06);
 
}

.skill-des{
  color: #757575;

}

#what-i-do-des{
  padding: 30px 150px;

}
/* 
resume section style */

.resume-column-tittle{
  color: #474747;
  font-size:30px ;
  font-weight: 700;
}